#AboutUs-Section1 {
    width: 100vw;
    height: 100vh;
    max-height: 422px;
    background: linear-gradient(95.33deg, #002145 18.24%, #ee2e24 125.82%);
}

.AboutUs-Section1-Content-Container {
    height: 100%;
    display: flex;
    align-items: center;
}

.AboutUs-Section1-Title {
    margin-left: 10%;
    color: white;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 134%;
    /* or 64px */

    text-transform: capitalize;

    color: #ffffff;
}
