#Faq-Section1 {
    width: 100vw;
    min-height: 620px;
}

.Faq-Section1-Content-Container {
    padding-top: 133px;
    padding-bottom: 50px;
}

.Faq-Section1-Title {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #ee2e24;
}

.Faq-Section1-Accordian-Row-Container {
    border: 2px solid #d34a4a;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card-header {
    background-color: transparent;
}

.Faq-Section1-Accordian-Question-Container {
    width: 100%;
    height: auto;
    border-radius: 40px;
    border: 2px solid transparent;
    background-color: transparent;
}

.Faq-Section1-Accordian-Question-Button {
    min-height: 75px;
    width: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    color: #d34a4a;
    font-size: 27px;
    font-family: "Nunitos", sans-serif;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-align: left;
    padding-top: 10px;
    text-transform: capitalize;
}

.Faq-Section1-Accordian-Answer {
    font-family: "Nunitos", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: justify;
    letter-spacing: 0.005em;
    padding-left: 2%;
    padding-right: 2%;
    color: #000000;
}

.Faq-Section1-Accordian-Indicator {
    transform: rotate(45deg);
}

.Faq-Section1-Accordian-Indicator-Normal {
    transform: rotate(0deg);
}

@media screen and (max-width: 992px) {
    .Faq-Section1-Content-Container {
        padding-top: 60px;
    }
    .Faq-Section1-Right-Column {
        padding-top: 40px;
    }
}
