#AdminBigSightUpdate-Section2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    padding: 80px 100px;
    justify-content: space-between;
}

.AdminBigSightUpdate-Section2-Container {
    max-width: 600px;
    height: 541px;
    margin-bottom: 50px;
}

.AdminBigSightUpdate-Section2-content-img {
    margin-bottom: 24px;
    border-radius: 5px;
}

.AdminBigSightUpdate-Section2-content-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 16px;
}

.AdminBigSightUpdate-Section2-content-dec {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 32px;
    font-size: 17px;
}

.AdminBigSightUpdate-Section2-content-button {
    all: unset;
    color: white;
    border-radius: 5px;
    padding: 10px 25px 10px 15px;
    background-color: red;
}

@media (max-width: 1400px) {
    .AdminBigSightUpdate-Section2-Container {
        max-width: unset;
        width: 100%;
        height: auto;
    }
    #AdminBigSightUpdate-Section2 {
        padding: 40px 60px;
    }
}

@media (max-width: 540px) {
    #AdminBigSightUpdate-Section2 {
        padding: 40px 30px;
    }
}