#LandingPage-Section3 {
    width: 100vw;
    height: 793px;
    background-color: #002145;
    color: white;
}

.LandingPage-Section3-Title {
    font-family: poppins-700;
    font-size: 30px;
    line-height: 134%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 56px;
}

.LandingPage-Section3-Row1 {
    padding-top: 75px;
}

.LandingPage-Section3-Content-Container {
    width: 100%;
    max-width: 555px;
    height: max-content;
}

.LandingPage-Section3-Content-Container-Row1 {
    height: 122px;
    border-bottom: 2px solid white;
}

.LandingPage-Section3-Content-Container-Row1-Row {
    display: flex;
    align-items: center;
}

.LandingPage-Section3-Content-Container-Row1-Img-Wrapper {
    width: 84px;
    height: 82px;
}

.LandingPage-Section3-Content-Container-Row1-Title {
    font-family: poppins-700;
    font-size: 17px;
    line-height: 140%;

    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    margin-left: 25px;

    color: #ffffff;
}

.LandingPage-Section3-Content-Container-Row2-Desc {
    font-family: poppins-400;
    font-size: 17px;
    line-height: 140%;
    /* or 24px */

    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.005em;
    margin-top: 26px;
    color: #ffffff;
}
