#ContactUs-Section1 {
    min-height: 1008px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.ContactUs-Section1-Form-Container {
    width: 100%;
    height: max-content;
    max-width: 1268px;
    min-height: 780px;
    left: 86px;
    top: 219px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
    padding-right: 10px;
}

.ContactUs-Section1-Left-Container {
    background: url("../../../src//Big-Sight//ContactUs//ContactUsBackground.png");
    background-position: center;
    background-size: cover;
}

.ContactUs-Section1-Left-Column {
    width: 100%;
    height: 780px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactUs-Section1-Left-Parent-Content-Container {
    min-width: 426px;
    min-height: 641px;
}

.ContactUs-Section1-Left-Content-Container {
    width: 100%;
    height: 100%;
    max-width: 426px;
    min-height: 641px;
    padding-left: 19px;
    padding-top: 45px;
}

.ContactUs-Section1-Left-Title {
    font-family: poppins-700;
    font-size: 35px;
    line-height: 52px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #ffffff;
}

.ContactUs-Section1-Left-Desc {
    font-family: poppins-400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #ffffff;
}

.ContactUs-Section1-Form-Content-Right-Container {
    border: 1px solid red;
}

.ContactUs-Section1-Right-Parent-Content-Container {
    width: 100%;
    height: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactUs-Section1-Right-InputGroup {
    padding-top: 55px;
}

.ContactUs-Section1-Right-Label {
    font-family: poppins-500;
    font-size: 17px;
    color: #000000;
}

.ContactUs-Section1-Right-Text-Input {
    width: 100%;
    height: 49px;
    border: 1px solid transparent;
    border-bottom: 1px solid #adadad;
}

.ContactUs-Section1-Right-TextArea-Input {
    width: 100%;
    height: 49px;
    border: 1px solid transparent;
    border-bottom: 1px solid #adadad;
}

.ContactUs-Section1-Right-Label-RadioGroup {
    font-family: poppins-700;
    font-size: 17px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #000000;
}

.ContactUs-Section1-Right-Label-Radio {
    font-family: poppins-500;
    font-size: 17px;
    line-height: 26px;
    color: #000000;
}

.ContactUs-Section1-Right-Radio-Row {
    display: flex;
}

.ContactUs-Section1-Right-Radio-Row-Product {
    width: 100%;
    max-width: 216px;
}
