#ContactUs-Section1 {
    min-height: 1008px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.ContactUs-Section1-Form-Container {
    width: 100%;
    height: max-content;
    max-width: 1268px;
    min-height: 780px;
    left: 86px;
    top: 219px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
    padding-right: 10px;
}

.ContactUs-Section1-Left-Container {
    background: url("../../../src//Big-Sight//ContactUs//ContactUsBackground.png");
    background-position: center;
    background-size: cover;
}

.ContactUs-Section1-Left-Column {
    width: 100%;
    height: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactUs-Section1-Left-Parent-Content-Container {
    min-width: 426px;
    min-height: 641px;
}

.ContactUs-Section1-Left-Content-Container {
    width: 100%;
    height: 100%;
    max-width: 426px;
    min-height: 641px;
    padding-left: 19px;
    padding-top: 45px;
}

.ContactUs-Section1-Left-Title {
    font-family: "Nunitos", sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 52px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #ffffff;
}

.ContactUs-Section1-Left-Desc {
    font-family: "Nunitos", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #ffffff;
}

.ContactUs-Section1-Right-Parent-Content-Container {
    width: 100%;
    height: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactUs-Section1-Right-Form-Container {
    width: 100%;
}

.ContactUs-Section1-Right-InputGroup {
    padding-top: 55px;
}

.ContactUs-Section1-Right-Label {
    font-family: "Nunitos", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #000000;
}

.ContactUs-Section1-Right-Message-Label {
    margin-top: 46px;
}

.ContactUs-Section1-Right-Text-Input {
    width: 100%;
    height: 49px;
    border: 1px solid transparent;
    border-bottom: 1px solid #adadad;
}

.ContactUs-Section1-Right-Text-Input:focus {
    border: 1px solid transparent !important;
}

.ContactUs-Section1-Right-TextArea-Input {
    width: 100%;
    height: 49px;
    border: 1px solid transparent;
    border-bottom: 1px solid #adadad;
}

.ContactUs-Section1-Right-Label-RadioGroup {
    font-family: "Nunitos", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #000000;
}

.ContactUs-Section1-Right-Radio-Row {
    margin-left: 15px;
}

.ContactUs-Section1-RadioButton-Container {
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: fit-content;
}

.ContactUs-Section1-RadioButton-Container-ProductName {
    font-family: "Nunitos", sans-serif;
    font-weight: 500;
    font-size: 17px;
    display: flex;
    align-items: center;
    color: #000000;
    padding-left: 26px;
    margin-top: -2px;
}

/* Hide the browser's default radio button */

.ContactUs-Section1-RadioButton-Container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
}

/* On mouse-over, add a grey background color */

.ContactUs-Section1-RadioButton-Container:hover input ~ .checkmark {
    background-color: transparent;
}

/* When the radio button is checked, add a blue background */

.ContactUs-Section1-RadioButton-Container input:checked ~ .checkmark {
    background-color: #ee2e24;
    border: 1px solid #ee2e24;
    color: white;
}

.ContactUs-Section1-Right-Submit-Button-Container {
    width: 100%;
    overflow: auto;
    padding-top: 76.42px;
}

.ContactUs-Section1-Right-Submit-Button {
    float: right;
    width: 150px;
    height: 53.29px;
    background: #ee2e24;
    border: 1px solid #ee2e24;
    border-radius: 5px;
    font-family: "Nunitos", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
}

@media screen and (max-width: 992px) {
    .ContactUs-Section1-Left-Column {
        display: none;
    }
    .ContactUs-Section1-Form-Container {
        padding-left: 50px;
        padding-right: 50px;
    }
    .ContactUs-Section1-Form-Content-Right-Container {
        margin-bottom: 55px;
    }
}
