#AboutUs-Section4 {
    height: fit-content;
    min-height: 807px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.AboutUs-Section4-Title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
    text-align: center;
    color: #484848;
}

.AboutUs-Section4-Content-Container {
    width: 100%;
    max-width: 1266px;
    min-height: 569px;
    padding-top: 96px;
}

.AboutUs-Section4-ColumnContainer {
    padding-top: 67px;
}

.AboutUs-Section4-ImageWrapper {
    width: 100%;
    max-width: 620px;
    max-height: 300px;
}

.AboutUs-Section4-Desc {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-transform: capitalize;
    color: #484848;
    margin-top: 39px;
}

@media screen and (max-width: 992px) {
    #AboutUs-Section4 {
        padding-left: 3%;
        padding-right: 3%;
    }
    .AboutUs-Section4-ImageContainer {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
