#LandingPage-Section2 {
    width: 100%;
    height: auto;
    position: relative;
    border: 1px solid red;
    padding: 60px 47px;
}

.LandingPage-Section2-Left {
    height: 100%;
    /* border: 1px solid rgb(0, 208, 255); */
}

.LandingPage-Section2-Left-content-container h2 {
    text-align: center;
}

.LandingPage-Section2-right {
    height: 100%;
}

.LandingPage-Section2-Right-Card {
    width: auto;
    background-color: rgba(242, 244, 248, 1);
    border: unset;
    border-radius: unset;
    float: right;
    margin: 0 10px;
}

.LandingPage-Section2-Right-Card-Body {
    padding: 20px 60px 30px 60px;
}

.LandingPage-Section2-Right-Card-Title {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 20px;
}

.LandingPage-Section2-Right-Card-Text {
    text-align: justify;
}

.LandingPage-Section2-Right-Card-Footer {
    width: 85%;
    height: 25px;
    margin: 0 auto;
    background-color: #EE2E24;
}


/* costume dots */

.button__bar {
    display: block;
    margin-top: 30px;
    padding: 0;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    width: auto;
    float: right;
    text-align: center;
}

.button__bar li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
}

.button__bar li button {
    border: none;
    background: #EAEAEA;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
}

.button__bar :global(li.slick-active) button {
    background-color: #EE2E24;
}

.slick-slide img {
    border: 5px solid #fff;
    display: block;
    margin: auto;
}

@media (min-width: 200px) and (max-width: 992px) {
    .LandingPage-Section2-Left-content-container h2 {
        /* text-align: center; */
        margin-bottom: 20px;
    }
    .LandingPage-Section2-Left-content-Title {
        margin-bottom: 40px;
    }
    .button__bar {
        margin-top: 50px;
        float: unset;
    }
}

@media (max-width: 992px) {
    #LandingPage-Section2 {
        padding: 60px 20px;
    }
}

@media (max-width: 640px) {
    .LandingPage-Section2-Right-Card {
        float: unset;
        max-width: 420px;
        margin: unset;
        margin: 0 auto;
    }
}