#UpdatePage-Section2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    padding: 80px 50px;
    justify-content: space-evenly;
}

.UpdatePage-Section2-Container {
    width: 570px;
    height: 541px;
    margin: 0 40px;
}

.UpdatePage-Section2-content-img {
    margin-bottom: 24px;
    border-radius: 5px;
}

.UpdatePage-Section2-content-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 16px;
}

.UpdatePage-Section2-content-dec {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 32px;
    font-size: 17px;
}

.UpdatePage-Section2-content-button {
    all: unset;
    color: white;
    border-radius: 5px;
    padding: 10px 25px 10px 15px;
    background-color: red;
}